<mat-card>
  <mat-form-field>
    <mat-select>
      <mat-option
        *ngFor="let breed of breedList"
        [value]="breed.name"
        [id]="breed.id"
        (onSelectionChange)="getSearchResult($event, $event.source.value, $event.source.id)"
      >
        {{breed.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card>
    <mat-card-content *ngFor="let selectedBreed of breed">
      {{selectedBreed.name}}
    </mat-card-content>
  </mat-card>
  <!--<mat-card *ngFor="let selectedImage of images">-->
    <!--<img mat-card-image src="{{selectedImage.url}}" alt="Photo of breed">-->
  <!--</mat-card>-->
  <app-image-carousel
  [images]="images">
  </app-image-carousel>
</mat-card>
